body{
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
}
h1{
    text-align: center;
    margin: 10px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
  }

label {
    /* display: inline-block; */
    width: 140px;
    /* text-align: right; */
}

.header-text{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight:500;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin: -45px 5%;
    align-items: center;
    display:flexbox;
}
.busavatar {
    /* margin-left: 25%; */
    width:100vw;
    /* border-radius: 50%; */
}
/* .busavatar:hover{
  transform: rotate(1080deg);
  transition: 2s;
  transform: translateX(15);
} */

input[type=text]{
    width: 80%;
    padding: 12px 20px;
    margin: 4px 0 0 10%;
    /* display: inline-block; */
    border: 1px solid #35f506;
    /* box-sizing: border-box; */
    border-radius: 10px;
  } 

  button, .button {
    background-color: #4a4e69;
    color: white;
    padding: 14px 20px;
    margin: 18px 0;
    margin-left: 10%;
    border: none;
    cursor: pointer;
    width: 80%;
    align-items:center;
    border-radius: 10px;
    
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
.lHolder{
  top: -77px;
  position: relative;
  width: 9%;
  left: 2%;
}

.dHolder{
  top: -50px;
  position: relative;
  width: 10%;
  left: 2%;
}